<header class="article">
  <%- include('_breadcrumb', {category: category}) %>
  <h1><%= header.title %></h1>
  <div class='information'>
    <ul class='tags'>
    <% console.log('in tags') %>
      <% tags.forEach(function(tag) { %>
      <% console.log('in foreach') %>
      <li class='tag'><a href="/articles?tags=<%= tag %>" rel="tag"><%= tag %></a></li>
      <%  }); %>
    </ul>
    <div class='last-update-date'>
      <% const dateHyphen = update.toDate().toLocaleDateString('ja-JP'); %>
      <% const dateSlash = dateHyphen.replace(/-/g,'/'); %>
      <time datetime="<%= dateHyphen %>"><%= dateSlash %></time>
    </div>
  </div>
  <div class="share-buttons">
    <ul>
      <li class="twitter">
        <a href="" target="_blank" rel="noopener">
          <amp-img src="/icon/logo/twitter_white.svg" alt="Twitter icon" width="2rem" height="1.7rem" layout="fixed"></amp-img>
        </a>
      </li>
      <li class="facebook">
        <a href="" target="_blank" rel="noopener">
          <amp-img src="/icon/logo/facebook.svg" alt="Facebook icon" width="2rem" height="2.1rem" layout="fixed">
        </a>
      </li>
      <li class="hatena">
        <a href="" target="_blank" rel="noopener">
          <amp-img src="/icon/logo/hatenabookmark.svg" alt="はてなブログ icon" width="3.2rem" height="3.2rem" layout="fixed">
        </a>
      </li>
      <li class="pocket">
        <a href="" target="_blank" rel="noopener">
          <amp-img src="/icon/logo/pocket_white.svg" alt="Pocket" width="1.8rem" height="1.6rem" layout="fixed"></amp-img>
        </a>
      </li>
    </ul>
  </div>
  <p><%= header.lead %></p>
</header>
